<div id="danke" style="height:502px; width:593px; position:inherit; background:url('<%= asset_path 'rechn_bg.png' %>') no-repeat left bottom;">
  <div style="height:410px; width:533px; left:30px; top:40px; position:relative;">
    <!-- tab here / START -->
        <%= image_tag 'beispiel.jpg', width: 252, height: 30, border: 0 %>

<table width="530" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="2" style="padding-bottom:20px; padding-top:10px; line-height:14px;">1000jobboersen.de erstellt für jede Stellenanzeige ein individuelles Angebot mit einer optimal auf die Vankanz abgestimmten Kombination von Stellenbörsen. Die folgende Beispielrechnung soll Ihnen lediglich verdeutlichen, wie der Aktions-Bonus verrechnet wird.</td>
  </tr>
  <tr>
    <td width="421" bgcolor="#F0F0F0" style="padding-left:5px; padding-top:2px; padding-bottom:2px;">Individuelle Stellenbörsen-Kombination<br />(Marktpreis bei Selbstkauf: 4.795 €)</td>
    <td width="109" bgcolor="#F0F0F0" align="right" style="padding:5px;">2.349 €</td>
  </tr>
  <tr>
    <td style="padding-left:5px; padding-top:2px; padding-bottom:2px;">Reichweitensteigerung oder Social Media</td>
    <td align="right" style="padding:5px;">100 €</td>
  </tr>
  <tr>
    <td bgcolor="#F0F0F0" style="padding-left:5px; padding-top:2px; padding-bottom:2px;">Anzeigen-Layout</td>
    <td bgcolor="#F0F0F0" align="right" style="padding:5px;">150 €</td>
  </tr>
  <tr>
    <td style="padding-left:5px; padding-top:2px; padding-bottom:2px;">Titel- und Textoptimierung</td>
    <td align="right" style="padding:5px;">150 €</td>
  </tr>
  <tr>
    <td bgcolor="#F0F0F0" style="padding-left:5px; padding-top:2px; padding-bottom:2px;">Lektorat, AGG-Sicherheit</td>
    <td bgcolor="#F0F0F0" align="right" style="padding:5px;">50 €</td>
  </tr>
  <tr>
    <td style="padding-left:5px; padding-top:2px; padding-bottom:2px;">Anzeigenveröffentlichung und Betreuung über die gesamte Laufzeit</td>
    <td align="right" style="padding:5px;">100 €</td>
  </tr>
  <tr>
    <td bgcolor="#F0F0F0" style="padding-left:5px; padding-top:2px; padding-bottom:2px;">Refresh</td>
    <td bgcolor="#F0F0F0" align="right" style="padding:5px;">60 €</td>
  </tr>
  <tr>
    <td style="padding-left:5px; padding-top:2px; padding-bottom:2px;"><strong>Auftragswert</strong></td>
    <td align="right" style="padding:5px;"><strong>2.959 €</strong></td>
  </tr>
  <tr>
    <td bgcolor="#F0F0F0" style="padding-left:5px; padding-top:2px; padding-bottom:2px;">Bonus 2 x 500 €</td>
    <td bgcolor="#F0F0F0" align="right" style="padding:5px;">- 1.000 €</td>
  </tr>
  <tr>
    <td style="padding-left:5px; padding-top:10px; padding-bottom:2px;"><b><u>Ihr Preis</u></b></td>
    <td align="right" style="padding:5px;"><b><u>1.959 €</u></b></td>
  </tr>
</table>

<!-- tab here / ENDE -->
  <div style="height:40px; width:268px; left:125px; top:10px; position:relative;">
    <%= link_to root_path do %>
      <%= image_tag 'danke_close.png', border: 0, width: 263, height: 35 %>
    <% end %>
  </div>
  </div>
</div>
