<div id="danke" style="height:260px; width:436px; position:inherit; background:url('<%= asset_path 'danke.png' %>') no-repeat left bottom;">
  <div style="height:40px; width:268px; left:82px; top:180px; position:relative;">
    <a href="http://www.1000jobboersen.de/" target="_self"><img src="<%= asset_path 'danke_close.jpg' %>" border="0" width="268" height="40"></a>
  </div>
</div>
